h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    
    color: #FFFFFF;
    }

.label {
    text-align: left;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
color: #6E6E6E;
padding-bottom: .5em;
}

.form-control {
    background: #1d1d1d !important;
    border: none;
}
.input-group-text {
    background:#1d1d1d;
    border-right:   2px solid  #6E6E6E;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5% 5% 25%;
    width: 90%;
}
.btn-right {
    border-radius: 0px 5px 5px 0px;
    background:#1d1d1d;
    border: none;
}
.btn-left {
    border-radius: 5px 0px 0px 5px;
    background:#1d1d1d;
    border: none;
}
.increment-button-wrapper {
    display: flex;
    flex-direction: row;
}
.increment-buttons {
    margin-right: 1.75em;
    display: flex;
    flex-direction: column;
}
.increment-display {
    width: 3em;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #97A2AF;
}
.increment-display-wrapper {
    display: flex;
    flex-direction: row;
}
.submit-btn {
    background: #6684F2 !important;
    border-radius: 30px;
    width: 65%;
    padding: 1em 3em 1em 3em;
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Lato' sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
}